.corpo {
    margin: 0 auto;
    margin-top: 200px;
    width: 600px;
    height: 600px;
    background-color: #8f8c8c;
    border-style: ridge;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 2em;
}

.pure-button {
    background: #af4444;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    margin: 0 auto;
    margin-left: 4px;
    margin: 4px;
    width: 31%;
    height: 30px;
    background: rgb(66, 184, 221);
}

.textoGerado {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 20%;
    font-size: 2em;
}

.texto {
    margin-left: 25%;
    width: 50%;
    height: 10%;
}